@page "/curriculo"

<PageTitle>curriculo</PageTitle>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="curriculo">

        <img src="https://via.placeholder.com/150" alt="Foto de Perfil">
        <h1>Max Myller</h1>
        <p><strong>Estudante de Informática</strong></p>
        <p><strong>Email:</strong> max.exemplo@email.com</p>
        <p><strong>Cidade:</strong> Porto Velho - RO</p>

    </div>

</body>
</html>
